<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= "#{t('header.editing', model: @noun.class.model_name.human)}" %></h1>

  <%= render "form", noun: @noun %>

  <%= link_to "Show this noun", @noun, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to nouns", nouns_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
